<body>
    <h1>Inscription Donateur</h1>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <img src="assets/images/image-sang2.png" class="blood-decoration" alt="Tache de sang" />
        <img src="assets/images/image_griffe-red.png" class="scratches-decoration" alt="Égratignures rouges" />
        <img src="assets/images/griffe_de_lion.png" class="flag-colors-decoration" alt="Couleurs du drapeau" />
        <div class="circle-blue"></div>
        <div class="circle-red"></div>
        
        
        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group">
                    <input type="hidden" formControlName="type" value="donateur">
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" formControlName="prenom" placeholder="Mame Fatou" required>
                </div>

                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" formControlName="nom" placeholder="Konaté" required>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" required>
                </div>
                
                <div class="form-group">
                    <label for="date_naissance">Date de naissance</label>
                    <input type="text" id="date_naissance" formControlName="date_naissance" placeholder="07/12/1994" required>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <!-- <input type="password" id="password" formControlName="password" required> -->
                     <input type="password" formControlName="password" autocomplete="new-password" required>
                </div>
                
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <!-- <option value="">Sélectionnez</option>
                    <option value="Féminin">Féminin</option>
                    <option value="Masculin">Masculin</option>
                    <input type="text" id="sex" formControlName="sex" placeholder="Féminin" required> -->
                    <select id="sexe" formControlName="sexe" placeholder="Féminin" required>
                    <option value="">Sélectionnez</option>
                    <option value="Féminin">Féminin</option>
                    <option value="Masculin">Masculin</option>
                    </select>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input type="text" id="adresse" formControlName="adresse" placeholder="Grand Dakar" required>
                </div>
                
                <div class="form-group">
                    <label for="groupe_sanguins">Groupe sanguin</label>
                    <!-- <select id="groupe_sanguins" formControlName="groupe_sanguin_id" placeholder="A+">
                    <option *ngFor="let groupe of groupesSanguins" [value]="groupe.id">
                        {{ groupe.libelle }}
                    </option>
                    </select>  -->
                    <select formControlName="groupe_sanguin_id">
                    <option *ngFor="let groupe of groupesSanguins" [value]="groupe.id">{{ groupe.nom }}</option>
                    </select>              
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="telephone">Téléphone</label>
                    <input type="tel" id="telephone" formControlName="telephone" placeholder="+221 78 224 66 24" required>
                </div>
                
                <div class="form-group">
                    <label for="region">Région</label>
                    <select *ngIf="regions.length > 0" formControlName="region_id">
                    <option *ngFor="let r of regions" [value]="r.id">{{ r.region }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dernier_don">Dernier don</label>
                    <input type="text" id="dernier_don" formControlName="dernier_don" placeholder="07/01/2025">
                </div>
            </div>
            
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</body>